$primary: #2d68ff;
$danger: #ea6a5e;
$warning: #f2be4f;
$success: #66c454;
$body-bg: #5c666b;
$side-bg: #121212;
$side-active: #202020;
$side-color: #848489;
$side-light: #f3f3f3;
$side-dark: #4e4f4f;
$side-border: #202125;
$side-input: #171717;
$side-placeholder: #4a4a4a;
$side-footer: #232529;
$side-width: 265px;
$side-min-width: 76px;
